<style type="text/css">

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;




suit. */
	padding-right: 15px;
	padding-left: 15px;
	font-size: 12px;
}
a img { 
	border: none;
}


a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /
	text-decoration: none;
}


.container {
	width: 960px;
	background: #FFF;
	margin: 0 auto; /* la valeur automatique sur les côtés, associée à la largeur, permet de centrer la mise en page */
	overflow: hidden; /* cette déclaration permet à .container de comprendre où les colonnes flottantes à l'intérieur se terminent et de les contenir */
}

/* ~~ Colonnes pour la mise en page. ~~ 

1) La marge intérieure n'est placée qu'en haut et/ou en bas des divs. Les éléments à l'intérieur de ces divs posséderont une marge intérieure sur les côtés. Vous évitez ainsi de devoir recourir à des « calculs de modèle de boîte ». N'oubliez pas que si vous ajoutez une marge intérieure latérale ou une bordure à la div proprement dite, elle sera ajoutée à la largeur que vous définissez pour créer la largeur totale. Vous pouvez également supprimer la marge intérieure de l'élément dans la div et placer une seconde div à l'intérieur, sans largeur et possédant une marge intérieure appropriée pour votre concept.

2) Toutes les colonnes étant flottantes, aucune marge ne leur a été attribuée. Si vous devez ajouter une marge, évitez de la placer du côté vers lequel vous effectuez le flottement (par exemple, une marge droite sur une div configurée pour flotter vers la droite). Dans de nombreux cas, vous pouvez plutôt employer une marge intérieure. Pour les divs où cette règle ne peut pas être respectée, ajoutez une déclaration « display:inline » à la règle de la div, afin de contourner un bogue qui amène certaines versions d'Internet Explorer à doubler la marge.

3) Comme des classes peuvent être employées à plusieurs reprises dans un document (et que plusieurs classes peuvent aussi être attribuées à un élément), les colonnes ont reçu des noms de classes au lieu d'ID. Par exemple, deux divs de barre latérale peuvent être empilées si nécessaire. Elles peuvent être très facilement remplacées par des ID si vous le souhaitez, pour autant que vous ne les utilisiez qu'une fois par document.

4) Si vous préférez que la navigation se trouve à droite et pas à gauche, faites flotter ces colonnes en sens opposé (toutes vers la droite au lieu de vers la gauche). Leur rendu s'effectuera dans l'ordre inverse. Il n'est pas nécessaire de déplacer les divs dans le code HTML source.

*/
.sidebar1 {
	float: left;
	width: 180px;
	background: #FFF;
	padding-bottom: 10px;
}

.sidebar2 {
	float: right;
	width: 180px;
	background: #FFF;
	padding: 10px 0;
}

.content {
	padding: 40px 0;
	width: 600px;
	float: left;
}

.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}


ul.nav {
	list-style: none; 
	margin-bottom: 15px; /
}
ul.nav li {
 
}
ul.nav a, ul.nav a:visited {
	padding: 5px 5px 5px 15px;
	display: block;
/
	width: 160px;  
	text-decoration: none;
	background: #FFF;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background: #FFF;
	color: #FFF;
	font-size: 10px;
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { /
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}




.date {
	width: 100px;
	background: #FFF;
	overflow: hidden; 
	float: left;
}
.ecole {
	width: 440px;
	background: #FFF;
	overflow: hidden;
	color: #666;
}

.legende {
	width: 500px;
	background: #FFF;
	overflow: hidden;
	color: #999;
	margin-left: 100px;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 10px;
}

.lieu {
	width: 500px;
	background: #FFF;
	overflow: hidden;
	color: #099;
	margin-left: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.date {
	font-size: 11px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #069;
}
.ROME {
	font-weight: bold;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.description {
	font-style: italic;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}
.titre {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
}
.bref {
	color: #999;
}
.Experiences {
	font-family: "Neutra Text";
	color: #C90;
}
.Titre_partie {
	font-family: "Neutra Text";
	text-align: center;
}
.navigation {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.activites {
	color: #000;
}
.container .content .legende .activites {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.bibliographie {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.introduction {
	text-align: justify;
}

.sous_titre_ecole {
	color: #09C;
}

.sous_titre_edition {
	color:#FF8D79;
}

.sous_titre_logiciel {
	color:#2FDDC9;

}